.container {
  background-color: rgb(7, 18, 21);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  border: 1px solid rgb(62, 131, 154);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 65px;
  height: 65px;
  border: 1px solid rgb(123, 222, 255);
}

.snake_cell {
  background-color: green;
}

.food_cell {
  background-color: crimson;
}
