.container {
  background-color: rgb(7, 18, 21);
  height: 100vh;
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 35px;
  height: 35px;
  border: 1px solid rgb(62, 131, 154);
}
